@inherits LayoutComponentBase

<header>
    <div class="nav-container">
        <a href="/" class="logo">📚 LibraryWebSystem</a>
    </div>
</header>

<main>
    <div class="container">
        @Body
    </div>
</main>

<footer>
    &copy; @DateTime.Now.Year LibraryWebSystem. Косолапова Виктория. Курсовая работа КБ-4 МИРЭА.
</footer>