@inherits LayoutComponentBase

<header>
    <div class="nav-container">
        <a href="/" class="logo">📚 LibraryWebSystem</a>
        <nav class="nav-links">
            <a href="/">Главная</a>
            <a href="/search">Поиск</a>
            <a href="/addbook">Добавить</a>
        </nav>
    </div>
</header>

<main>
    <div class="container">
        @Body
    </div>
</main>

<footer>
    &copy; @DateTime.Now.Year LibraryWebSystem. Курсовая работа КБ-4 МИРЭА.
</footer>